{% extends 'base.html' %}
{% load static %}

{% block title %}Register User{% endblock %}
{% block stylecontent %}<link rel="stylesheet" href="{% static 'css/registration.css' %}">{% endblock %}

    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input id="submit_button" type="submit" value="Create new account">
                </form>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block jscontent %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}
