#questDetail{
    padding: 1%;
    background-color: #C0BEBE;
    border-radius: 2px;
    font-size: 18px;
}


.rowAnswer{
    margin-top: 2%;
    padding: 1%;
    background-color: #F1EEEE;
    border-radius: 2px;

}

.answerDate{
    font-style: italic;
}

.answerCreator{
    font-style: italic;
}
