#questDetail{
    padding: 1%;
    background-color: #C0BEBE;
    border-radius: 2px;
    font-size: 18px;
}


.rowAnswer{
    margin-top: 2%;
    padding: 1%;
    background-color: #F1EEEE;
    border-radius: 2px;

}

.answerDate{
    font-style: italic;
}

.answerCreator{
    font-style: italic;
}

.upanswer{
    background-color: #337ab7;
    color:#ffffff;
    border: 0;
}

.downanswer{
    background-color: #337ab7;
    border: 0;
    color:#ffffff;
    font-weight: bold;
}

.questTitle{
    color: #b30000;
}

.questDate{
    font-style: italic;
}

.answerHeader{
    color: #000000;
    font-stretch: condensed;
}
