#createTag{
    border: 0;
    border-radius: 3px;
}


.col-md-6{
    background-color: #F1EEEE;
    margin-left: 3%;
    border-radius: 5px;
}

.tagHeader{
    color: #b30000;
}

#rightSide{
    text-align: right;

}
