{% extends "base.html" %}

{% load static %}

{% block title %}
    Ask Question
{% endblock %}

{% block stylecontent %}{% endblock %}

{% block content %}
    <h5>Place a question in the box</h5>
    <form name="newquestionform" id="newquestionform" action="ask_question.js" method="post">
        <label>Question Title: </label><input type="text" name="title" id="qtitle"><br>
        <label>Question text: </label><input type="text" name="text" id="qtext"><br>
        <label>Initial tag: </label><input type="text" name="tags" list="currenttags" id="qtags">
            <datalist id="currenttags">

            </datalist>
        <input type="submit" value="Submit">
    </form>
{% endblock %}

{% block jscontent %}
    {% verbatim %}
    <script id="newq_template" type="text/x-handlebars-template">
        {{#each results}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </script>
    {% endverbatim %}
    <script type="text/javascript" src="{% static 'js/ask_question.js' %}"></script>
{% endblock %}
