{% extends "base.html" %}

{% load static %}

{% block title %}
    Question Box
{% endblock %}

{% block stylecontent %}<link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Get all 42 answers to your questions</p>
                <a href="{% url 'questions' %}">See questions</a>
            </div>
        </div>
    </div>


{% endblock %}

{% block jscontent %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
