{% extends "base.html" %}
{% load static %}

{% block title %}
    Question Detail
{% endblock %}

{% block stylecontent %}<link rel="stylesheet" href="{%static 'css/question_detail.css'%}">{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="questDetail"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div id="answerDetail"></div>

            </div>
        </div>
    </div>

    <script id="post-template" type="text/x-handlebars-template">
        <article class="post-container">
            {% verbatim %}
                <h3 class="questTitle">{{title}}</h3>
                <h6 class="questDate">Date Posted: {{{formatTime created}}}</h6>
                <p class="questText">{{text}}</p>
            {% endverbatim %}
        </article>
    </script>

    <script id="post-template-two" type="text/x-handlebars-template">
        <article class="post-container-two">
            {% verbatim %}
                {{#each this}}
                <div class="rowAnswer">
                    <h2>Answer:</h2>
                    <h4 class="answerText">{{this.this.text}}</h4>

                    <h6 class="answerDate">Date Posted: {{{formatTime created}}}</h6>
                    <h6 class="answerCreator">Posted by: {{ creator.username}}</h6>
                    <h6 class="answerScore">Score: {{score}}</h6>
                    <button type="submit" class="upanswer" onclick="voteAnswer({{id}}, {{score}}, 1)">
                       <span class="glyphicon glyphicon-thumbs-up"></span>
                    </button>
                    <button type="submit" class="downanswer" onclick="voteAnswer({{id}}, {{score}}, -1)">
                       <span class="glyphicon glyphicon-thumbs-down"></span>
                    </button>
                </div>
                {{/each}}
            {% endverbatim %}
        </article>
    </script>


{% endblock %}

{% block jscontent %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/question_detail.js' %}"></script>
{% endblock %}
