{% extends "base.html" %}
{% load static %}

{% block title %}
    Question Detail
{% endblock %}

{% block stylecontent %}<link rel="stylesheet" href="{%static 'css/question_detail.css'%}">{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="questDetail"></div>
                <input id="userId" type="hidden" name="userId" value="{{user.id}}">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="answerDetail"></div>
            </div>
        </div>
    </div>

    <script id="post-template" type="text/x-handlebars-template">
        <article class="post-container">
            {% verbatim %}
                <h3 class="questTitle">{{title}}</h3>
                <h6 class="questDate">Date Posted: {{{formatTime created}}}</h6>
                <p class="questText">{{text}}</p>
                <button type="button" class="btn btn-primary btn-md"
                data-toggle="modal" data-target="#answer_modal">Answer Question</button>
                <!-- modal -->
                <div class="modal fade" id="answer_modal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                </button>
                                <h3 class="modal-title">{{title}}</h3>
                            </div>
                            <div class="modal-body">
                                <input id="questAnswer{{id}}" type="text" name="answer" value="">
                                <input id="{{id}}" type="hidden" name="quest_id" value="{{id}}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" data-dismiss="modal" class="btn btn-secondary" onclick="answerQuestion({{id}})">Save</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            {% endverbatim %}
        </article>
    </script>

    <script id="post-template-two" type="text/x-handlebars-template">
        <article class="post-container-two">
            {% verbatim %}
                {{#each this}}
                <div class="rowAnswer">
                    <h2>Answer:</h2>
                    <h4 class="answerText">{{this.this.text}}</h4>
                    <h6 class="answerDate">Date Posted: {{{formatTime created}}}</h6>
                    <h6 class="answerCreator">Posted by: {{ user.username}}</h6>
                    <h6 class="answerScore" id="answer_score_{{id}}">Score: {{score}}</h6>
                    <button type="submit" class="upanswer" onclick="voteAnswer({{id}}, {{score}}, 1)">
                       <span class="glyphicon glyphicon-thumbs-up"></span>
                    </button>
                    <button type="submit" class="downanswer" onclick="voteAnswer({{id}}, {{score}}, -1)">
                       <span class="glyphicon glyphicon-thumbs-down"></span>
                    </button>
                </div>
                {{/each}}
            {% endverbatim %}
        </article>
    </script>


{% endblock %}

{% block jscontent %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/question_detail.js' %}"></script>
{% endblock %}
