{% extends "base.html" %}

{% load static %}

{% block title %}
    Tags
{% endblock %}

{% block stylecontent %}{% endblock %}

{% block content %}
    <h5>Checkout Tags to Browse by Topic</h5>
    <ol id="taglist">
    </ol>

    <form name="newtagform" id="newtagform" action="javascript:;" onsubmmit="addTag(this)" method="post">
        <label>Create a new tag: </label><input type="text" name="newtag" id="newtag">
        <input type="submit" value="Submit" name="tagsubmit" id="tagsubmit">
    </form>
{% endblock %}

{% block jscontent %}
    {% verbatim %}
    <script id="newtag_template" type="text/x-handlebars-template">
        {{#each results}}
            <a href="{{url}}"><li value="{{id}}">{{name}}</li></a>
        {{/each}}
    </script>
    {% endverbatim %}
    <script type="text/javascript" src="{% static 'js/tag_list.js' %}"></script>
{% endblock %}
