{% extends "base.html" %}

{% load static %}

{% block title %}
    Tags
{% endblock %}

{% block stylecontent %}{% endblock %}

{% block content %}
    <h5>Checkout Tags to Browse by Topic</h5>
    <div id="tagList"></div>
{% endblock %}

{% block jscontent %}
    <script id="post-template" type="text/x-handlebars-template">
        <article class="post-container">
            {% verbatim %}
            {{#each results}}
                <div class="row">
                    <div class='col-sm-11'>
                        <div class="row">
                            <h3 id="tagTitle">{{name}}</h3>
                        </div>
                    </div>
                </div>
            {{/each}}
            {% endverbatim %}
        </article>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/tags_list.js' %}"></script>
{% endblock %}
