{% extends "base.html" %}

{% load static %}

{% block title %}
    Tags
{% endblock %}

{% block stylecontent %}<link rel="stylesheet" href="{% static 'css/tag_list.css' %}">{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div id="tagList"><h1 class="tagHeader">Tags already in database:</h1></div>
        </div>
        <div class="col-md-5">
            <div class="row" id="rightSide">
                <form name="newTagForm" id="newTagForm">
                <label>New Tag: </label>
                <input type="text" name="tagText" id="tagText">
                <button type="submit" id="createTag">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block jscontent %}
    <script id="post-template" type="text/x-handlebars-template">
        <article class="post-container">
            {% verbatim %}
            {{#each results}}
            <div class="container">
                <div class="row">
                    <div class='col-sm-11'>
                        <div class="row">
                            <h3 id="tagTitle">{{name}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {% endverbatim %}
        </article>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/tags_list.js' %}"></script>
{% endblock %}
